{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>knowFood</title>
	<meta name="viewport" content = "width=device-width, intial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'MDB/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'MDB/css/mdb.css' %}">
	<style type="text/css">
		.round-img{
			border-radius: 50%;
		}
	</style>
</head>
<body>
	<nav></nav>
	{% block content %}
	{% endblock %}
	<script type="text/javascript" src="{% static 'MDB/js/mdb.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>