{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/js/mdb.min.js"></script>
	<style>
		table, th, td {
  border: 1px solid black;
}
	</style>
</head>
<body>
	<nav class="mb-1 navbar navbar-expand-lg navbar-dark deep-purple darken-1">
  <a class="navbar-brand" href="#">Know Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown
        </a> -->
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
     <!--  <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
	  <!-- Grid column -->
	<div class="row">
		<div class="col-lg-5">
    		<img src="{{img_url}}" style="width: 400px;height: 300px"alt="Responsive image">
		</div>
		<div class="col-lg-7">
			<h3>Vegetable: {{veggie}}</h3>
			<h3>Confidence: {{conf}} that the image uploaded is a {{veggie}}</h3>
			<h3>Nutrtional Information about {{veggie}} per 100gms</h3>
			<table>
				<tr>
				<th>Parameter</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Calories</td>
				<td>{{ninfo.0}}</td>
			</tr>
			<tr>
				<td>Total Fat</td>
				<td>{{ninfo.1}}</td>
			</tr>
			<tr>
				<td>Saturated Fat</td>
				<td>{{ninfo.2}}</td>
			</tr>
			<tr>
				<td>Sodium</td>
				<td>{{ninfo.3}}</td>
			</tr>
			<tr>
				<td>Total Carbohydrates</td>
				<td>{{ninfo.4}}</td>
			</tr>
			<tr>
				<td>Fiber</td>
				<td>{{ninfo.5}}</td>
			</tr>
			<tr>
				<td>Sugar</td>
				<td>{{ninfo.6}}</td>
			</tr>
			<tr>
				<td>Protein</td>
				<td>{{ninfo.7}}</td>
			</tr>
			<tr>
				<td>Vitamin A</td>
				<td>{{ninfo.8}}</td>
			</tr>
			<tr>
				<td>Vitamin C</td>
				<td>{{ninfo.9}}</td>
			</tr>
			<tr>
				<td>Calcium</td>
				<td>{{ninfo.10}}</td>
			</tr>
			<tr>
				<td>Iron</td>
				<td>{{ninfo.11}}</td>
			</tr>
			</table>
			<h3><a href="{{nutrition_url}}" target="_blank">Comprehensive Nutritional information about {{veggie}}</a></h3>
		</div>
	</div>
</body>
</html>